.title{
  position: fixed;
  width: 50px;
  color: #251919;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid #fff;
  background-color: transparent;
  z-index: 99;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 30px;
}
