<div class="feature" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>Find Your Best Food</h1>
      </div>
      <div class="col-12">
        <div class="row all-fet">
          <div class="col-md-3">
            <img src="assets/imgs/feature-img/1.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-md-3">
            <div class="feature-content">
              <h1>The Giga Big</h1>
              <span> — April 20, 2019 —</span>
              <p> a monstrous new creation called the Giga Big Mac. While the chain has
                released plenty of outrageous fast food creations in the past</p>
            </div>
          </div>
          <div class="col-md-3">
            <img src="assets/imgs/feature-img/2.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-md-3">
            <div class="feature-content">
              <h1>The Giga Big</h1>
              <span>— April 4, 2019 —</span>
              <p> Hong Kong recently teamed up with celebrity chef Gabriel
                Choy to produce a new menu item called the Pulled Chicken Burger</p>
            </div>
          </div>
          <div class="col-md-3">
            <img src="assets/imgs/feature-img/3.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-md-3">
            <div class="feature-content">
              <h1>The Giga Big</h1>
              <span>— April 5, 2020 —</span>
              <p> a monstrous new creation called the Giga Big Mac. While the chain has
                released plenty of outrageous fast food creations in the past</p>
            </div>
          </div>
          <div class="col-md-3">
            <img src="assets/imgs/feature-img/4.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-md-3">
            <div class="feature-content">
              <h1>The Giga Big</h1>
              <span>— April 15, 2020 —</span>
              <p> a monstrous new creation called the Giga Big Mac. While the chain has
                released plenty of outrageous fast food creations in the past</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
